* {
    transition: background 500ms in_out_cubic, color 500ms in_out_cubic;
}

Screen {
    layers: base overlay notes notifications;
    overflow: hidden;
}


Notification {
    dock: bottom;
    layer: notification;
    width: auto;
    margin: 2 4;
    padding: 1 2;
    background: $background;
    color: $text;
    height: auto;

}

Sidebar {
    width: 40;
    background: $panel;
    transition: offset 500ms in_out_cubic;
    layer: overlay;

}

Sidebar:focus-within {
    offset: 0 0 !important;
}

Sidebar.-hidden {
    offset-x: -100%;
}

Sidebar Title {
    background: $boost;
    color: $secondary;
    padding: 2 4;
    border-right: vkey $background;
    dock: top;
    text-align: center;
    text-style: bold;
}


OptionGroup {
    background: $boost;
    color: $text;
    height: 1fr;
    border-right: vkey $background;
}

Option {
    margin: 1 0 0 1;
    height: 3;
    padding: 1 2;
    background: $boost;
    border: tall $panel;
    text-align: center;
}

Option:hover {
    background: $primary 20%;
    color: $text;
}

Body {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    background: $surface;

}

AboveFold {
    width: 100%;
    height: 100%;
    align: center middle;
}

Welcome {
    background: $boost;
    height: auto;
    max-width: 100;
    min-width: 40;
    border: wide $primary;
    padding: 1 2;
    margin: 1 2;
    box-sizing: border-box;
}

Welcome Button {
    width: 100%;
    margin-top: 1;
}

Column {
    height: auto;
    min-height: 40;
    align: center top;
    overflow: hidden;
}

DarkSwitch {
    background: $panel;
    padding: 1;
    dock: bottom;
    height: auto;
    border-right: vkey $background;
}

DarkSwitch .label {
    width: 1fr;
    padding: 1 2;
    color: $text-muted;
}

DarkSwitch Switch {
    background: $boost;
    dock: left;
}


Screen>Container {
    height: %%200%%vh;
    overflow: hidden;
}

TextLog {
    background: $surface;
    color: $text;
    height: %%80%%vh;
    dock: bottom;
    layer: notes;
    border-top: hkey $primary;
    offset-y: 0;
    transition: offset 400ms in_out_cubic;
    padding: 0 1 1 1;
}


TextLog:focus {
    offset: 0 0 !important;
}

TextLog.-hidden {
    offset-y: 100%;
}

SectionTitle {
    padding: 1 2;
    background: $boost;
    text-align: center;
    text-style: bold;
}

SubTitle {
    padding-top: 1;
    border-bottom: heavy $panel;
    color: $text;
    text-style: bold;
}

TextContent {
    margin: 1 0;
}

QuickAccess {
    width: 30;
    dock: left;

}

LocationLink {
    margin: 1 0 0 1;
    height: 1;
    padding: 1 2;
    background: $boost;
    color: $text;
    box-sizing: content-box;
    content-align: center middle;
}

LocationLink:hover {
    background: $accent;
    color: $text;
    text-style: bold;
}


.pad {
    margin: 1 0;
}

Message {
    margin: 0 1;

}


Tree {
    margin: 1 0;
}


Window {
    background: $boost;
    overflow: auto;
    height: auto;
    max-height: 16;
}

Window>Static {
    width: auto;
}


Version {
    color: $text-disabled;
    dock: bottom;
    text-align: center;
    padding: 1;
}

SearchForm{
    height:%%80%%vh;
}

SearchForm .scansetting_horizontal{
    height:%%8%%vh;
}

SearchForm .scanresult_horizontal{
    height:%%5%%vh;
}

SearchForm .scaninfo_horizontal{
    width:30%;
    height:%%30%%vh;
}

SearchForm .memory_protection_horizontal{
    height:%%8%%vh;
}

SearchForm .range_horizontal{
    height:%%8%%vh;
}

SearchForm Input{
    width:30%;
}

SearchForm ListView{
    width:50%;
}
#scan_value_input{
    width:70%;
}

.scan_button{
    margin: 0 2 0 0;
}

.nearby_input {
    width:15%;
    margin:0 0 0 0;
}

AddressView {
    height:%%120%%vh;
}

AddressView Input{
    width:30%;
}

AddressView DataTable{
    height: %%50%%vh;
}

AddressView .scantab_horizontal{
    height:%%8%%vh;
}

AddressView .scantab_horizontal Button{
    margin:0 2 0 0;
}
AddressView .patch_horizontal{
    height:%%8%%vh;
}

AddressView .view_horizontal{
    height:%%8%%vh;
}

AddressView .watchpoint_horizontal{
    height:%%10%%vh;
}

AddressView .watchsetting_vertical{
    height:%%20%%vh;
}

ModuleList DataTable {
    height:%%90%%vh;
}

ModuleList .dump_input {
    width:15%;
    margin:0 0 0 0;
}

ModuleList .dump_input_horizontal{
    height:%%8%%vh;
}

ModuleList .filter_input {
    width:25%;
    margin:0 0 0 0;
}

ModuleList .filter_input_horizontal{
    height:%%8%%vh;
}


MemoryRegions DataTable {
    height:%%90%%vh;
}

WatchPoint {
    height:%%40%%vh;
}
WatchPoint DataTable{
    height:%%30%%vh;
}
WatchPoint Button{
    margin: 0 2 0 0;
}

DisassembleView DataTable{
    height:%%60%%vh;
}